h1{
    font-size: 65px;
    color:orange;
    font-family: sans-serif;
}
ul{
    background-color: paleturquoise;
}
.bg{
    background-color:cyan;
}
p{
    font-weight: 600;
    font-size: 3em;
}
body{
    font-size: 16px;
    font-style:italic;
    line-height:50px;
    text-align:justify;
    text-decoration: underline;
}
#Amarelo{
    color: yellow
}
#Vermelho{
    color:  red;
}
#Marrom{
    color: brown;
}